* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

body {
  background: url("/assets/images/background.png")repeat-y center;
}

.input {
    font-family: 'Comfortaa', cursive;
    /* display: flex; */
    align-content: center;
    text-align: center;
    width: 25vw;
    height: 17vh;
    border: 3px solid #66bb6a;
    background-color: white;
    padding: 4px;
    border-radius: 20px;
    box-shadow: 0px 4px 4px 0px lightgrey;
}

.btn {
  justify-content: center;
  flood-opacity: 30%;
  width: 12vw;
  background-color: #66bb6a;
  border-color: #66bb6a;
  border-radius: 10px;
}

.logo {
  font-family: 'Comfortaa', cursive;
  font-size: 42px;
  padding-top: 2px;
  margin-top: 2px;
}

aside {
  /* align-content: center;
  justify-content: center; */
  margin: auto;
}

.m6 {
  margin: auto;
  justify-content: center;
  display: flex;

}
