* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  display: inline-flex;
  margin-left: 10rem;
  padding: 5px;
  height: 6vh;
}

input {
  text-align: center;
  width: 3rem;
}

.logo {
  margin-left: 10px;
}

.m6 {
  margin: auto;
  justify-content: center;
  display: flex;
}
